.item-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 1rem;
}

.item-name {
    flex-basis: 80%;
    font-size: x-large;
}

.item-quantity {
    font-size: x-large;
}